/* bootstrap */

* {
    /*box-sizing: content-box !important;*/
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* end Bootstrap */

#container{
    height: 100%;
}

body{
    margin: 0px !important;
    
}

a{
    text-decoration: none !important;
}


/* Header */


#header_gestor_blogs{ /* HEADER */
    width: 100%;
    /*background: #6695ff91;*/
    display: flex;
    float: left;

    /* Degradado */
    background: rgba(10,10,10,1);
    background: -moz-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,1)), color-stop(23%, rgba(10,10,10,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#454545', GradientType=0 );
}

#header_gestor_blogs > a h1{ /* Titulo */
    width: 100%;
    float: left;
    height: auto;
    font-size: 4em;
    color: white;
    /*text-indent: 5%;*/
    
    /*margin-left: -10%;
    /*margin-right: -4%;
    margin-top: 21.44px !important;
    margin-bottom: 21.44px !important;*/
}

#header_gestor_blogs > a{ /* Enlace titulo */
    width: 70%;
    float: left;
    height: auto;
    text-align: center;
    
    /*margin-left: -10%;*/
    /*margin-right: -4%;*/
    /*margin-top: 21.44px !important;
    margin-bottom: 21.44px !important;*/
    
    padding-top: 21.44px;
    padding-bottom: 21.44px;

}


/*
#header_gestor_blogs > a:hover{
    color:#007bff;
}*/

#div_cruds {
    width: 15%;
    height: auto;
    float: left;
}

#div_cruds div {
    width: 100%;
    float: left;
    padding: 10px 0;
    text-align: center;
}

#div_cruds div a{
    margin-left: 1em;
    width: 90%;
}

#crea_blog_usuarioNormal{
    width: 100%;
    height: auto;
    float: left;
    padding: 0 !important;
    margin-top: 2.5em !important;
    text-align: center;
}

#crea_blog_usuarioNormal a {
    width: 40%;
}

#div_login_registro{
    width: 15%;
    float: left;
    height: auto;
    margin: 21.44px 0;
    text-align: right;
    
}

#fotoPerfilHeader {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: solid black 1px;
}

#div_login_registro > a{
    /*text-decoration: none;*/
    color: white;
    /*width: 30%;*/
    float: left;
    margin-right: 5%;
}

#nombrePerfilHeader{
    width: 60% !important;
    padding-right: 9%;
    font-size: 1.2em;
}

/* Antiguos botones
#div_login_registro form{
    width: 30%;
    float: left;
    height: auto;
    padding: 5px 5px 5px 0;
    text-align: right;
    margin-top: 1.2em;
}

#div_login_registro form button{
    font-size: 1em;
    float: left;
}*/


/* END header */

#div_principal{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin-top: 5%;
    margin-bottom: 2%;
}

#botonCrearUsuario {
    float: left;
    width: 100%;
    margin-bottom: 5%;
}

#botonCrearUsuario > button {
    float: left;
    margin-left: 2em;
}


footer{
    /*position: absolute;
    bottom: 0;*/
    text-align: center;
    width: 100%;
    height: auto;
    /*background-color: grey;*/
    float: left;

    /* degradado */
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(199,239,255,1)), color-stop(100%, rgba(20,134,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1486ff', GradientType=0 );
}


/* Vista login */

#div_login{
    /*border: 2px solid #6695ff91;*/
    border-radius: 5px;
    /*background-color: #6695ff91;*/
    background-color: lightblue;
    width: 50%;
    float: left;
    margin: 2.5em 25%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_login h2{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#div_login form, #div_creacion_blog form{ /* + vista creacion del blog */
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}


#div_login form>label, #div_creacion_blog form>label{ /* + vista creacion del blog */
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
}

#div_login form>label span, #div_creacion_blog form>label span{ /* + vista creacion del blog */
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

#div_login form>label input, #div_creacion_blog form>label input { /* + vista creacion del blog */
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}

#div_login form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}

#div_login form>div button{
    font-size: 1.2em;
}

/* END vista login */

/* Vista Registro */

#div_registro{
    /*border: 2px solid #6695ff91;*/
    border-radius: 5px;
    /*background-color: #6695ff91;*/
    background-color: lightblue;
    width: 50%;
    float: left;
    margin: 2.5em 25%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_registro h2{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#div_registro form{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}

#div_registro form>label{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
}

#div_registro form>label span{
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

#div_registro form>label input{
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}

#div_registro form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}




#div_registro form>div button{
    font-size: 1.2em;
}

/* END vistra registro */

/* Vista creacion blog */

#div_creacion_blog{
    width: 60%;
    height: auto;
    /*background-color: #6695ff91;*/
    background-color: lightblue;
    border-color: 6695ff91;
    border-radius: 5px;
    margin: 0px 20%;
    float: left;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_creacion_blog > h2{
    width: 100%;
    height: auto;
    padding: 1em 0;
    float: left;
}

#div_creacion_blog form> label select{
    float: left;
    width: 60%;
}

#div_creacion_blog form>button {
    margin-top: 2em;
}


/* END vista creacion blog */

/* Index divs blog */

#div_indexBlogs {
    float: left;
    width: 96%;
    height: auto;
    margin: 3% 2%;
    background-color: lightblue;
    
    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.blogsDivs {
    float: left;
    width: 40%;
    margin: 5%;
    transition: transform .5s;
    background-color: white;
    color: black;
    

    /* Sombra */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}


.blogsDivs:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: black;
}

.blogsDivs > h4{
    float: left;
    width: 96%;
    margin: 2% 2%;
}

.blogsDivs > img {
    float: left;
    width: 96%;
    margin: 2% 2%;
}

.blogsDivs > span {
    float: left;
    width: 96%;
    margin: 2% 2%;
}

/* END Index divs blog */


/* CSS vista del blog */

#header_blog{
    width: 100%;
    /*background: #6695ff91;*/
    display: flex;
    float: left;

    /* Degradado */
    background: rgba(10,10,10,1);
    background: -moz-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,1)), color-stop(23%, rgba(10,10,10,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#454545', GradientType=0 );
}


#header_blog > a h1{ /* Titulo */
    width: 100%;
    float: left;
    height: auto;
    font-size: 4em;
    color: white;
}

#header_blog > a{ /* Enlace titulo */
    width: 70%;
    float: left;
    height: auto;
    text-align: center;
    padding-top: 21.44px;
    padding-bottom: 21.44px;

}

#div_Inicio_Noticia {
    width: 15%;
    height: auto;
    float: left;
}

#div_Inicio_Noticia div {
    width: 100%;
    float: left;
    padding: 10px 0;
    text-align: center;
}

#div_Inicio_Noticia div a{
    margin-left: 1em;
    width: 90%;
}


#div_botonInicio_solo{
    width: 100%;
    height: auto;
    float: left;
    padding: 0 !important;
    margin-top: 2.5em !important;
    text-align: center;
}

#div_botonInicio_solo a {
    width: 40%;
}


#div_noticias {
    float: left;
    width: 70%;
    height: auto;
    margin: 1% 2%;
    background-color: #f2f2f2;
    
    /* Sombra */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.noticiasDivs { /* son enlaces */
    float: left;
    width: 40%;
    margin: 5%;
    transition: transform .5s;
    background-color: white;
    

    /* Sombra */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.noticiasDivs:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.noticiasDivs > h4{
    float: left;
    width: 96%;
    margin: 2% 2%;
}

.noticiasDivs > img {
    float: left;
    width: 96%;
    margin: 2% 2%;
}

.noticiasDivs > span {
    float: left;
    width: 96%;
    margin: 2% 2%;
}


footer div{
    float: left;
    width: 33%;
    padding: 1em 0px;
}

footer #div_footer_blog_autor span{
    float: left;
    width: 100%;
    text-align: left;
    margin-left: 1.5em;
}

footer > #div_footer_blog_redes > a img {
    width: 50px;
    height: 50px;
}

/* END vista blog */

/* Show Noticias */

#noticiacompleta {
    float: left;
    width: 95%;
    margin: 1% 2%;
}

#tituloNoticia { /* Es un div */
    text-align: center;
    float: left;
    width: 100%;
    margin: 2% 0;
    
}

#tituloNoticia > h2{
    font-size: 3em;
}

#cuerpoNoticia { 
    float: left;
    text-align: justify;
    width: 94%;
    margin: 0 3%;
}

/* END show noticias */



/* Vistas usuarios */

/* Show usuario */

#div_showUsuario {
    width: 40%;
    margin: 2% 30%;
    float: left;
    background-color: lightblue;
    border-radius: 10px;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_showUsuario > div {
    float: left;
    width: 90%;
    margin: 2% 5%;
}

#div_showUsuario > div > img{
    width: 4em;
}

#div_showUsuario > span {
    float: left;
    width: 40%;
    margin: 2% 5%;
}

#botonEditarPerfilImagen {
    float: left;
}

#botonEditarPerfilImagen > div {
    float: left;
    width: 50%;
    text-align: center;
}

/* END Show usuario */

/* END Vistas usuarios */



/* CSS especifico */

#label_input_image>input{
    width: 40% !important;
    text-align: center !important;
    margin-left: 31%;
}

/* END CSS especifico */