/* bootstrap */

/*
* {
    box-sizing: content-box !important;
}*/

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* end Bootstrap */

#container{
    height: 100%;
}

body{
    margin: 0px !important;
    
}

a{
    text-decoration: none !important;
}


/* Header */


#header_gestor_blogs{ /* HEADER */
    width: 100%;
    /*background: #6695ff91;*/
    display: flex;
    float: left;

    /* Degradado */
    background: rgba(10,10,10,1);
    background: -moz-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,1)), color-stop(23%, rgba(10,10,10,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#454545', GradientType=0 );
}

#header_gestor_blogs > a h1{ /* Titulo */
    width: 100%;
    float: left;
    height: auto;
    font-size: 4em;
    color: white;
    /*text-indent: 5%;*/
    
    /*margin-left: -10%;
    /*margin-right: -4%;
    margin-top: 21.44px !important;
    margin-bottom: 21.44px !important;*/
}

#header_gestor_blogs > a{ /* Enlace titulo */
    width: 70%;
    float: left;
    height: auto;
    text-align: center;
    
    /*margin-left: -10%;*/
    /*margin-right: -4%;*/
    /*margin-top: 21.44px !important;
    margin-bottom: 21.44px !important;*/
    
    padding-top: 21.44px;
    padding-bottom: 21.44px;

}


/*
#header_gestor_blogs > a:hover{
    color:#007bff;
}*/

#div_cruds {
    width: 15%;
    height: auto;
    float: left;
}

#div_cruds div {
    width: 100%;
    float: left;
    padding: 10px 0;
    text-align: center;
}

#div_cruds div a{
    margin-left: 1em;
    width: 90%;
}

#crea_blog_usuarioNormal{
    width: 100%;
    height: auto;
    float: left;
    padding: 0 !important;
    margin-top: 2.5em !important;
    text-align: center;
}

#crea_blog_usuarioNormal a {
    width: 40%;
}

#div_login_registro{
    width: 15%;
    float: left;
    height: auto;
    margin: 21.44px 0;
    text-align: right;
    
}

#fotoPerfilHeader {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: solid black 1px;
}

#div_login_registro > a{
    /*text-decoration: none;*/
    color: white;
    /*width: 30%;*/
    float: left;
    margin-right: 5%;
}

#nombrePerfilHeader{
    width: 60% !important;
    padding-right: 9%;
    font-size: 1.2em;
}

#botonIrTuBlog {
    width: 80%;
    float: left;
    margin: 5% 10% 0;
    text-align: center;
}

#botonIrTuBlog > a {
    width: 80%;
    float: left;
    margin: 0 10%;
}


/* END header */

#div_principal{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin-top: 5%;
    margin-bottom: 2%;
}

#botonCrearUsuarioBlog, #botonCrearCategorias {
    float: left;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 1%;
}

#botonCrearUsuarioBlog > button, #botonCrearUsuarioBlog > a, #botonCrearCategorias > button {
    float: left;
    margin: 0 0 1em 2em;
}
/*
#botonesGestionarCategorias {
    float: left;
    width: 50%;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: right;
}


#botonesGestionarCategorias > button {
    margin: 0 2em 1em 0;
}*/


#footerPrincipal {
    text-align: center;
    width: 100%;
    height: auto;
    float: left;
    background-color: white;
}

#footerPrincipal > div {
    width: 33%;
    float: left;
    height: auto;
}

#footerBlogs{
    /*position: absolute;
    bottom: 0;*/
    text-align: center;
    width: 100%;
    height: auto;
    /*background-color: grey;*/
    float: left;

    /* degradado */
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(199,239,255,1)), color-stop(100%, rgba(20,134,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgb(20, 134, 255) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(199,239,255,1) 19%, rgba(20,134,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1486ff', GradientType=0 );
}


/* Vista login */

#div_login{
    /*border: 2px solid #6695ff91;*/
    border-radius: 5px;
    /*background-color: #6695ff91;*/
    background-color: lightblue;
    width: 50%;
    float: left;
    margin: 2.5em 25%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_login h2{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#div_login > form > h4 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin: 0.5em 0 !important;
}

#div_login form, #div_creacion_blog form{ /* + vista creacion del blog */
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}


#div_login form>label, #div_creacion_blog form>label{ /* + vista creacion del blog */
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
}

#div_login form>label span, #div_creacion_blog form>label span{ /* + vista creacion del blog */
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

#div_login form>label input, #div_creacion_blog form>label input { /* + vista creacion del blog */
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}

#div_login form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}

#div_login form>div button{
    font-size: 1.2em;
}

/* END vista login */

/* Vista Registro */

#div_registro{
    /*border: 2px solid #6695ff91;*/
    border-radius: 5px;
    /*background-color: #6695ff91;*/
    background-color: lightblue;
    width: 50%;
    float: left;
    margin: 2.5em 25%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_registro h4 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin: 0.5em 0 !important;
}

#div_registro h2{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#div_registro form{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}

#div_registro form>label{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
}

#div_registro form>label span{
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

#div_registro form>label input{
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}

#div_registro form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}


#div_registro form>div button{
    font-size: 1.2em;
}

/* END vistra registro */

/* Politica de privacidad */

#tituloPolitica {
    font-size: 3em;
    float: left;
    margin: 0.5em 0 !important;
    width: 100%;
}

#todoPolitica {
    width: 100%;
    height: 100%;
    float: left;
    text-align: left !important;
}

#todoPolitica > h3, #todoPolitica > h4, .listasPolitica {
    float: left;
    width: 60%;
    margin: 1em 20% 0;
}

/*#todoPolitica > h4, .listasPolitica {
    float: left;
    width: 60%;
    margin: 1em 20% 0;
}*/


#todoPolitica > table {
    float: left;
    text-align: left !important;
    margin: 2em 20%;
    border-collapse: collapse;
    
}

#todoPolitica > table, #todoPolitica > table > tbody > tr > td{
    border: 1px solid black;
}

#todoPolitica > table > tbody > tr > td {
    padding: 0.5em;
}

.tdTituloTablaPoilitica {
    width: 20%;
}


/* END Politica de privacidad */

/* VISTAS de usuario (perfil) */

/* Editar perfil */

#div_editUsuario {
    border-radius: 5px;
    background-color: lightblue;
    width: 50%;
    float: left;
    margin: 2.5em 25%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_editUsuario h4 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin: 0.5em 0 !important;
}

#div_editUsuario h2{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#div_editUsuario form{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}

#div_editUsuario form>label{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
}

#div_editUsuario form>label span{
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

#div_editUsuario form>label input{
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}

#div_editUsuario form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}

/* END editar perfil */

/* Cambiar avatar */

#div_editImagenPerfil {
    border-radius: 5px;
    background-color: lightblue;
    width: 50%;
    float: left;
    margin: 2.5em 25%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_editImagenPerfil h4 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin: 0.5em 0 !important;
}

#div_editImagenPerfil h2{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#div_editImagenPerfil form{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}

#div_editImagenPerfil form>label{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
    text-align: center;
}

#div_editImagenPerfil form>label input{
    width: 40% !important;
    text-align: center !important;
}


#div_editImagenPerfil form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}

/* END cambiar avatar */

/* Cambiar contraseña */

#div_editContrasena {
    border-radius: 5px;
    background-color: lightblue;
    width: 50%;
    float: left;
    margin: 2.5em 25%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_editContrasena h4 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin: 0.5em 0 !important;
}

#div_editContrasena h2{
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#div_editContrasena form{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}

#div_editContrasena form>label{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
}

#div_editContrasena form>label span{
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

#div_editContrasena form>label input{
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}

#div_editContrasena form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}

/* END cambiar contraseña */



/* END vistas usuarios (perfil) */

/* Vista creacion blog */

#div_creacion_blog{
    width: 60%;
    height: auto;
    /*background-color: #6695ff91;*/
    background-color: lightblue;
    border-color: 6695ff91;
    border-radius: 5px;
    margin: 0px 20%;
    float: left;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_creacion_blog > h2{
    width: 100%;
    height: auto;
    padding: 1em 0;
    float: left;
}

#div_creacion_blog form> label select{
    float: left;
    width: 60%;
}

#div_creacion_blog form>button {
    margin-top: 2em;
}


/* END vista creacion blog */

/* Index divs blog */

#div_indexBlogs {
    float: left;
    width: 96%;
    height: auto;
    margin: 3% 2%;
    background-color: lightblue;
    
    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.blogsDivs {
    float: left;
    width: 40%;
    margin: 5%;
    transition: transform .5s;
    background-color: white;
    color: black;
    

    /* Sombra */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}


.blogsDivs:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: black;
}

.blogsDivs > h4{
    float: left;
    width: 96%;
    margin: 2% 2%;
}

.blogsDivs > img {
    float: left;
    width: 96%;
    margin: 2% 2%;
}

.blogsDivs > span {
    float: left;
    width: 96%;
    margin: 2% 2%;
}

/* END Index divs blog */


/* CSS vista del blog */

#header_blog{
    width: 100%;
    /*background: #6695ff91;*/
    display: flex;
    float: left;

    /* Degradado */
    background: rgba(10,10,10,1);
    background: -moz-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,1)), color-stop(23%, rgba(10,10,10,1)), color-stop(100%, rgba(69,69,69,1)));
    background: -webkit-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -o-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: -ms-linear-gradient(top, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    background: linear-gradient(to bottom, rgba(10,10,10,1) 0%, rgba(10,10,10,1) 23%, rgba(69,69,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#454545', GradientType=0 );
}


#header_blog > a h1{ /* Titulo */
    width: 100%;
    float: left;
    height: auto;
    font-size: 4em;
    color: white;
}

#header_blog > a{ /* Enlace titulo */
    width: 70%;
    float: left;
    height: auto;
    text-align: center;
    padding-top: 21.44px;
    padding-bottom: 21.44px;

}

#div_Inicio_Noticia {
    width: 15%;
    height: auto;
    float: left;
}

#div_Inicio_Noticia div {
    width: 100%;
    float: left;
    padding: 10px 0;
    text-align: center;
}

#div_Inicio_Noticia div a{
    margin-left: 1em;
    width: 90%;
}


#div_botonInicio_solo{
    width: 100%;
    height: auto;
    float: left;
    padding: 0 !important;
    margin-top: 2.5em !important;
    text-align: center;
}

#div_botonInicio_solo a {
    width: 40%;
}


#div_noticias {
    float: left;
    width: 96%;
    height: auto;
    margin: 1% 2% 5%;
    background-color: #f2f2f2;
    
    /* Sombra */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.noticiasDivs { /* son enlaces */
    float: left;
    width: 27%;
    margin: 3%;
    transition: transform .5s;
    background-color: white;
    

    /* Sombra */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.noticiasDivs:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.noticiasDivs > h4{
    float: left;
    width: 96%;
    margin: 2% 2%;
    color: black;
}

.noticiasDivs > span {
    float: left;
    width: 96%;
    margin: 2% 2%;
    color: black;
}


footer div{
    float: left;
    width: 33%;
    padding: 1em 0px;
}

footer #div_footer_blog_autor span{
    float: left;
    width: 100%;
    text-align: left;
    margin-left: 1.5em;
}

footer #div_footer_blog_autor span>a{
    color: white;
}

footer > #div_footer_blog_redes > a img {
    width: 50px;
    height: 50px;
}

#iconoFacebook {
    border-radius: 20%;
    background-color: white;
}

#iconoInstagram {
    border-radius: 30%;
    background-color: white;
}


/* END vista blog */

/* Show Noticias */

#noticiacompleta {
    float: left;
    width: 70%;
    margin: 1% 15%;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#tituloNoticia { /* Es un div */
    text-align: center;
    float: left;
    width: 100%;
    margin: 2% 0;
    
}

#tituloNoticia > h2{
    font-size: 3em;
}

#cuerpoNoticia { 
    float: left;
    text-align: justify;
    width: 80%;
    margin: 2% 10%;
}

#puntuacionNoticia { /* DIV Boton puntuacion noticia */
    float: left;
    font-size: 2em;
    width: 100%;
}

#puntuacionNoticia > button { /* Boton puntuacion noticia */
    float: left;
    font-size: 1em;
    margin-left: 10%;
}

#puntuacionNoticia > button > i{ /* Icono puntuacion noticia */
    float: left;
    text-align: right;
}

/* Seccion comentarios */

#seccionComentarios {
    width: 100%;
    float: left;
    margin-bottom: 5%;
}

#seccionComentarios > h3 {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 5%;
}

#crearComentario {
    float: left;
    width: 80%;
    margin: 2% 10%;
    background-color: #f2f2f2;

    /* Sombra */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

#crearComentario > form {
    float: left;
    width: 100%;
}

#crearComentario > form > span {
    float: left;
    text-align: left;
    width: 94%;
    margin: 2% 3% 0;
}

#crearComentario > form > input {
    float: left;
    text-align: left;
    width: 94%;
    margin: 2% 3% 0;
}

#crearComentario > form > label{
    width: 94%;
    float: left;
    margin: 2% 3%;
}

#crearComentario > form > label > span{
    width: 100%;
    float: left;
    margin-bottom: 1%;
}

#crearComentario > form > label > textarea {
    float: left;
    text-align: left;
    width: 100%;
}

#crearComentario > form > div{
    width: 94%;
    float: left;
    margin: 2% 3%;
}

#crearComentario > form > div > button{
    float: left;
}

#separador {
    border: 1px solid #666; 
    border-radius: 300px/10px; 
    height: 0px; 
    text-align: center;
    float: left;
    width: 90%;
    margin: 3% 5%;
}

.comentarios {
    float: left;
    width: 90%;
    margin: 2% 5%;
}

.comentarios > span, .comentarios > p{
    float: left;
    width: 100%;
    text-align: left;
}
/* End comentarios */

/* END show noticias */



/* Vistas usuarios */

/* Show usuario y gestionarBlog*/

#div_showUsuario { 
    width: 40%;
    margin: 2% 30%;
    float: left;
    background-color: lightblue;
    border-radius: 10px;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#div_showUsuario > div {
    float: left;
    width: 90%;
    margin: 2% 5%;
}

#div_showUsuario > div > img{
    width: 4em;
}

#div_showUsuario > span {
    float: left;
    width: 40%;
    margin: 2% 5%;
}

#botonEditarPerfilImagen {
    float: left;
}

#botonEditarPerfilImagen > div {
    float: left;
    width: 33%;
    text-align: center;
}

/* END Show usuario y gestionarBlog*/

/* END Vistas usuarios */

/* Vista gestionar usuario */

#gestionBlog { 
    width: 40%;
    margin: 2% 30% 20.7%;
    float: left;
    background-color: rgb(167, 220, 255);
    border-radius: 10px;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

#gestionBlog > h2 {
    float: left;
    text-align: center;
    width: 100%;
    margin: 2% 0px;
}

#gestionBlog > span {
    float: left;
    width: 40%;
    margin: 2% 5%;
    font-size: 1.5em;
}

#botonGestionarBlog {
    float: left;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

#botonGestionarBlog > div {
    float: left;
    width: 50%;
    text-align: center;
}


/* END vista gestionar usuario */

/* Vista editar blog */

#gestionarBlog {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}

#gestionarBlog > h2 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#gestionarBlog h4 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin: 0.5em 0 !important;
}

#gestionarBlog > label {
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
}

#gestionarBlog > label > span {
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    padding-right: 0.5em;
}

#gestionarBlog > label > input {
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}

#gestionarBlog > label > select {
    width: 60%;
    height: auto;
    float: left;
    text-align: left;
}


#gestionarBlog > div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}


/* END vista editar blog */

/* Vista gestionar notícias (solo botón de crear noticia) */

#botonCrearNoticia {
    float: left;
    width: 100%;
    margin-bottom: 5%;
}

#botonCrearNoticia > a {
    float: left;
    margin-left: 3em;
}

/* END vista gestionar noticias */

/* Vista crear notícia */

#createUpdateNoticia {
    width: 70%;
    margin: 2% 15% 10.7%;
    float: left;
    background-color: rgb(167, 220, 255);
    border-radius: 10px;

    /* Sombra */
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}


#createUpdateNoticia form{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 3em;
}

#createUpdateNoticia > h2 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    font-size: 3em;
    margin: 0.5em 0 !important;
}

#createUpdateNoticia > form > h4 {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    margin: 0.5em 0 !important;
}

#createUpdateNoticia form > label{
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px;
    font-size: 1.3em;
    text-align: center;
}

#createUpdateNoticia form> label > span{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

#createUpdateNoticia form>label input{
    width: 60%;
    height: auto;
    float: left;
    margin: 0% 20%;
}

#createUpdateNoticia form> label > select{
    float: left;
    width: 10%;
    margin: 0% 45%;
}


#labelCuerpoNoticia { /* Label TextAera */
    float: left;
    width: 80% !important;
    margin: 0% 10%;
}

/*#labelCuerpoNoticia > span { 
    float: left;
    width: 70% !important;
    
    margin: 0% 15% 20%;
}*/


#createUpdateNoticia form>button {
    margin-top: 2em;
}

#createUpdateNoticia form>div{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding-top: 3em;
}


/* END crear noticia */

/* CSS especifico */

#label_input_image>input{ /* Input de subir imagen en registro*/
    width: 40% !important;
    text-align: center !important;
    margin-left: 31%;
}

#label_checkbox_politica>div {
    width: 100%;
    float: left;
}

#label_checkbox_politica>div>input {
    margin-left: 30%;
    width: 20px !important;
    height: 20px !important;
    margin: 5px 0.5em 5px 30%;
    float: left;
}

#label_checkbox_politica>div>span {
    width: 60% !important;
    text-align: left !important;
    padding-right: 0 !important;
    float: left;
}

#irblog {
    color: white;
}

#imagen_perfil_show_edit {
    border-radius: 50%;
    border: 1px solid black;
}

/* END CSS especifico */